footer
{
    height: 55px;

     > div
    {
        display: flex;
        align-items: center;
        height: 100%;
        border-top: 1px solid #4a4a4a;

         > div
        {
            font-size: 16px;
            font-weight: 300;

            color: #fff;

            > span
            {
                font-size: 20px;
                letter-spacing: 3px;
                margin-right: 10px;
            }

           @media (max-width: 751px)
           {
               display: none;
           }
        }
    }
}
