div.co_index
{
    margin-top: 60px;

    background-color: #000;

     > div.content
    {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 80%;
        margin: 0 auto;

        @media (max-width: 767px)
        {
            width: 100%;
        }

         > div.programList
        {
            padding: 20%;
        }
    }
}
