.c_chinaSuntv
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 75%;
    margin-top: 70px;

    color: #fff;

    @media (max-width: 767px)
    {
        width: 100%;
        margin-top: 0;
    }

     > video
    {
        width: 100%;
        height: 100%;
    }

     > div.nowPlaying
    {
        @media (max-width: 767px)
        {
            margin-left: 5%;
        }

         > div
        {
            &:first-child
            {
                font-size: 12px;

                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 15px;

                color: #ff0221;

                &:before
                {
                    position: relative;
                    top: 10px;
                    right: 15px;

                    display: block;

                    width: 8px;
                    height: 8px;

                    content: '';

                    border-radius: 50%;
                    background-color: red;
                }
            }

            &:last-child
            {
                font-size: 24px;

                margin-bottom: 30px;
            }
        }
    }

     > div.preNext
    {
        width: 80%;
        margin: 0 auto;

         > div
        {
            display: flex;
            justify-content: center;

            text-align: center;

            &:nth-child(2)
            {
                display: flex;
                align-items: center;

                padding-top: 5%;
                padding-bottom: 5%;

                &:after
                {
                    position: absolute;

                    display: block;

                    width: 50%;

                    content: '';

                    border-top: 2px solid #9b9b9b;
                    border-image-source: linear-gradient(to right, #000, #9b9b9b 10%, #9b9b9b 88%, #000);
                    border-image-slice: 1;
                }

                 > div
                {
                    flex: 1;

                     > div
                    {
                        width: 10px;
                        height: 10px;
                        margin: 0 auto;

                        border-radius: 50%;
                        background-color: #9b9b9b;

                        &.center
                        {
                            z-index: 1;

                            width: 30px;
                            height: 30px;

                            background-color: #f5a623;

                            &:before
                            {
                                position: relative;
                                z-index: 2;
                                top: 10px;
                                left: 10px;

                                display: block;

                                width: 10px;
                                height: 10px;

                                content: '';

                                border-radius: 50%;
                                background-color: #f5a623;
                            }

                            &:after
                            {
                                position: relative;
                                z-index: 1;
                                bottom: 9px;
                                left: 1px;

                                display: block;

                                width: 28px;
                                height: 28px;

                                content: '';

                                border-radius: 50%;
                                background-color: #000;
                            }
                        }
                    }
                }
            }

             > span
            {
                flex: 1;
            }
        }

         > div.programTag
        {
             > div
            {
                flex: 1;

                 > span
                {
                    font-size: 13px;
                    font-weight: 300;

                    padding: 3px 15px;

                    color: #000;
                    border-radius: 15px;
                    background-color: #cecece;
                }
            }

             > div.center
            {
                 > span
                {
                    background-color: #f5a623;
                }
            }
        }

         > div.programName
        {
            font-size: 15px;
            font-weight: 300;

            margin-top: 18px;

            color: #cecece;

             > span.center
            {
                color: #f5a623;
            }
        }
    }
}
