div.c_slider
{
    position: relative;

    color: #fff;

    div.cover
    {
        position: relative;

        min-height: 250px;

        opacity: .7;

        img
        {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 100%;

            object-fit: cover;

            &.hero3
            {
                left: 10%;

                width: 27%;
                height: auto;
            }
        }

        .paddingTop
        {
            padding-top: 47%;
        }
    }

    div.content
    {
        position: absolute;
        // top: 35%;
        top: 35%;

        display: flex;
        justify-content: center;

        width: 100%;
        padding-right: 5px;
        padding-left: 5px;

        @media (max-width: 767px)
        {
            top: 18%;
        }
         > div
        {
            width: 360px;
            @media (min-width: 1024px)
            {
                transform: scale(2);
            }

            h1
            {
                // font-family: 'Lato', sans-serif;
                font-size: 36px;
                font-weight: 500;
                font-style: italic;

                text-align: left;

                color: #fff;

                span
                {
                    // font-family: PingFangTC;
                    font-weight: 300;
                    font-style: normal;
                }
            }
            p
            {
                // font-family: PingFangTC;
                font-size: 15px;
                font-weight: 200;
                line-height: 1.6;

                margin: 12px 0 20px;

                text-align: left;

                color: #fff;
            }
        }
        // text-align: center;


        h1,
        h2
        {
            margin: 0 0 18px 0;

            // letter-spacing: 3px;
        }

        h2
        {
            font-size: 28px;
            font-weight: 300;
        }

        div.download
        {
            position: relative;
            z-index: 1;

            display: flex;
            justify-content: flex-end;

            // margin-top: 32px;

             > a
            {
                display: block;

                min-width: 150px;
                // height: 31px;
                margin-right: 0;

                cursor: pointer;
                transition: all .5s;
                text-align: center;
                vertical-align: bottom;
                text-decoration: none;

                opacity: .9;
                color: #fff;
                border-radius: 15.5px;
                background-color: #000;

                &:hover
                {
                    color: #000;
                    background-color: #fff;
                }
                span
                {
                    // font-family: PingFangTC;
                    font-size: 15px;
                    font-weight: 300;

                    display: inline-block;

                    padding: 5px 20px;
                }
            }
        }

        @media (max-width: 480px)
        {
            h1
            {
                font-size: 24px;
            }

            h2
            {
                font-size: 20px;
            }
        }

        @media (min-width: 481px) and (max-width: 767px)
        {
            h1
            {
                font-size: 24px;
            }

            h2
            {
                font-size: 20px;
            }
        }
    }

    .dots
    {
        position: absolute;
        bottom: 7%;
        left: 25%;

        width: 50%;

        text-align: center;

        @media (max-width: 480px)
        {
            bottom: 5%;
        }

         > div
        {
            display: inline-block;

            width: 8px;
            height: 8px;
            margin: 5px;

            cursor: pointer;

            opacity: .4;
            border-radius: 50%;
            background-color: #fff;
        }

         > div.active
        {
            align-items: center;
            justify-content: flex-start;

            width: 10px;
            height: 10px;
            margin-bottom: 4px;

            opacity: 1;
        }
    }

    .sliderFade-enter
    {
        opacity: .1;
    }

    .sliderFade-enter.sliderFade-enter-active
    {
        transition: opacity .75s ease-in-out;

        opacity: 1;
    }

    .sliderFade-exit
    {
        opacity: 1;
    }

    .sliderFade-exit.sliderFade-exit-active
    {
        transition: opacity .75s ease-in-out;

        opacity: 0;
    }
}
